server:
  port: 11001

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  #swagger 충돌 해결
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  profiles:
    active:
      - default
  data:
    rest:
      base-path: /

# maria db
  datasource:
    url: jdbc:h2:mem:kiku
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database: mysql
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true

# h2db
#  datasource:
#    url: jdbc:h2:mem:kikumsaddd
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#
#  jpa:
#    database-platform: org.hibernate.dialect.H2Dialect
#    hibernate:
#      ddl-auto: create-drop
